<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-primary">Países</span>
  <span class="badge bg-primary rounded-pill">{{this.paisesSeleccionados.length}}</span>
</h4>
<ul class="list-group mb-3">
  <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let pais of this.paisesSeleccionados" (click)="seleccionarPais(pais)">
    <div>
      <h5 class="my-0"><img [src]="pais.bandera" width="100" height="50"> {{pais.nombre}}</h5>
    </div>
  </li>
</ul>
