<main>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Listado peliculas</h1>
        <app-pelicula-listado (eventoDetallePelicula)="seleccionarPelicula($event)"></app-pelicula-listado>
      </div>
    </div>

    <div class="container">
      <div class="container marketing">
        <div class="row">
          <div class="col-lg-4 text-center">
            <svg
              class="bd-placeholder-img rounded-circle"
              width="140"
              height="140"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect
                width="100%"
                height="100%"
                fill="var(--bs-secondary-color)"
              ></rect>
            </svg>
            <h2 class="fw-normal">Para borrar</h2>
            <p>Content</p>
            <p><a class="btn btn-secondary" href="#">Button</a></p>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4 text-center">
            <app-detalle-pelicula [pelicula]="this.eventoPeliculaDetalle" *ngIf="this.eventoPeliculaDetalle != null"></app-detalle-pelicula>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4 text-center">
            <svg
              class="bd-placeholder-img rounded-circle"
              width="140"
              height="140"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect
                width="100%"
                height="100%"
                fill="var(--bs-secondary-color)"
              ></rect>
            </svg>
            <h2 class="fw-normal">Modificar</h2>
            <p>Content</p>
            <p><a class="btn btn-secondary" href="#">Button</a></p>
          </div>
          <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
      </div>
    </div>

  </div>
</main>
