<div class="container">
  <main>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <app-tabla-paises
          (eventoPais)="peliculaSeleccionada($event)"
        ></app-tabla-paises>
      </div>
      <div class="col-md-7 col-lg-8">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="formLabel">Nombre</label>
              <input type="text" id="firstName" class="form-control" formControlName="firstName" />
              <div
                *ngIf="
                  myForm?.get('firstName')?.invalid &&
                  myForm?.get('firstName')?.touched
                "
              >
                <div *ngIf="myForm?.get('firstName')?.hasError('required')">
                  <div class="alert alert-danger" role="alert">
                    El nombre es requerido.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName"  class="formLabel">Apellido</label>
              <input type="text" id="lastName" class="form-control" formControlName="lastName" />
              <div
                *ngIf="
                  myForm.get('lastName')?.invalid &&
                  myForm.get('lastName')?.touched
                "
              >
                <div *ngIf="myForm.get('lastName')?.hasError('required')">
                  <div class="alert alert-danger" role="alert">
                    El apellido es requerido.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12" class="formLabel">
              <label for="nation">Nation</label>
              <input
                type="text"
                id="nation"
                formControlName="nation"
                class="form-control"
                [value]="pais"
                [readOnly]="true"
              />
              <div
                *ngIf="myForm.get('nation')?.invalid && myForm.get('nation')?.touched">
                <div *ngIf="myForm?.get('nation')?.hasError('required')">
                  <div class="alert alert-danger" role="alert">
                    El pais es requerido.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <button type="submit" class="w-100 btn btn-primary btn-lg" [disabled]="!this.myForm.valid || this.sentForm">Guardar</button>
        </form>
        <div class="alert alert-success mt-5" role="alert" *ngIf="this.sentForm != null && this.sentForm">
          Guardado!
        </div>
        <div class="alert alert-danger mt-5" role="alert" *ngIf="this.sentForm != null && !this.sentForm">
          Ocurrió un error, no se guardó.
        </div>
      </div>
    </div>
  </main>
</div>
