<table class="table table-striped">
  <thead>
    <tr class="text-center">
      <th scope="col">Nombre</th>
      <th scope="col">Tipo</th>
      <th scope="col">Fecha Estreno</th>
      <th scope="col">Cantidad Publico</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pelicula of peliculas | async" class="text-center" (click)="emitDetallePelicula(pelicula)">
      <td>{{pelicula.nombre}}</td>
      <td>{{pelicula.tipo}}</td>
      <td>{{pelicula.fechaEstreno}}</td>
      <td>{{pelicula.cantidadPublico}}</td>
      <td><img [src]="pelicula.urlFoto" [width]="100" [height]="150"></td>
    </tr>
  </tbody>
</table>
