<div class="card" style="width: 18rem;">
  <img [src]="pelicula?.urlFoto" class="card-img-top" alt="foto">
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{pelicula?.nombre}}</li>
      <li class="list-group-item">{{pelicula?.tipo}}</li>
      <li class="list-group-item">{{pelicula?.cantidadPublico}}</li>
      <li class="list-group-item">{{pelicula?.fechaEstreno}}</li>
      <h6>Actores</h6>
      <li class="list-group-item">{{getActores()}}</li>
    </ul>
  </div>
</div>
